@charset "UTF-8";
.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em; }
  .bottom_border:before {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -15%;
    width: 30px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 1px; }

.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em; }
  .bottom_border:before {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -15%;
    width: 30px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 1px; }

.header {
  border-bottom: 1px solid #9A292F;
  box-shadow: 1px 1px 2px #8080809e; }
  .header .header-inner {
    padding: 10px 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header .logo-wrapper {
    width: 28%;
    height: 70px;
    position: relative; }
    .header .logo-wrapper a img {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      padding: 10px; }
  .header .contact-info {
    display: flex;
    align-items: center;
    gap: 2vw;
    font-size: 120%; }
    .header .contact-info .contact-link {
      background-color: #4b6e2d;
      color: #c8e62f;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
      text-shadow: 1px 1px 2px #000; }
      .header .contact-info .contact-link .email-img {
        width: 30px;
        padding-right: 5px;
        vertical-align: sub;
        filter: drop-shadow(1px 1px 2px #000); }
        @media screen and (max-width: 768px) {
          .header .contact-info .contact-link .email-img {
            padding: 0; } }
      .header .contact-info .contact-link .contact-text {
        display: inline-block; }
        @media screen and (max-width: 768px) {
          .header .contact-info .contact-link .contact-text {
            display: none; } }
    .header .contact-info .tel-text {
      font-size: 70%; }
    .header .contact-info .tel-wrapper {
      text-align: right; }
      .header .contact-info .tel-wrapper .fixed-tel {
        font-size: clamp(18px, 2vw, 24px); }
      .header .contact-info .tel-wrapper .mobile {
        font-size: clamp(16px, 2vw, 20px); }
    .header .contact-info .tel {
      color: #43274f;
      font-weight: bold;
      text-shadow: 0px 0px 1px #893d4163; }

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  position: relative; }
  .nav-list .nav-list-link {
    color: #9A292F;
    font-size: clamp(16px, 2vw, 18px); }
  .nav-list li:not(:last-child) {
    padding-right: 1vw;
    border-right: 1px solid #9A292F; }

.nav {
  position: relative; }

.lang-list {
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px; }
  @media screen and (max-width: 768px) {
    .lang-list {
      top: 10px; } }
  .lang-list li a {
    border: 1px solid #4b6e2d;
    color: #4b6e2d;
    padding: 1px 5px 0; }

.first-view-img {
  background-image: url("../img/first-viiew.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  position: relative; }
  .first-view-img .first-view-desc {
    position: absolute;
    top: 30%;
    right: 20px;
    left: 20px;
    padding: 20px;
    background: #ffffffa8;
    border-radius: 3px; }
  .first-view-img .first-view-circle {
    position: absolute;
    bottom: 2%;
    color: #fff;
    background: #0060ff80;
    right: 30px;
    text-align: center;
    border-radius: 9999px;
    width: 180px;
    height: 180px;
    display: grid;
    place-items: center;
    margin: 0 auto;
    font-size: 130%;
    font-weight: bold;
    border: 5px solid #006bff4a; }
  .first-view-img .first-view-ttl {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: clamp(50px, 2vw, 80px);
    color: #9A292F;
    text-shadow: 2px 2px 3px #3d0707ba;
    z-index: 10; }
    @media screen and (max-width: 768px) {
      .first-view-img .first-view-ttl {
        font-size: clamp(40px, 2vw, 50px); } }

.company-desc-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr; }
  @media screen and (max-width: 768px) {
    .company-desc-wrapper {
      grid-template-columns: 1fr;
      gap: 10px; } }
  .company-desc-wrapper .company-desc {
    text-align: justify;
    padding: 20px 4vw;
    margin-left: -30px;
    background: #9A292F;
    color: #fac4c7; }
    @media screen and (max-width: 768px) {
      .company-desc-wrapper .company-desc {
        margin-left: 0; } }

.company-desc-img {
  width: 100%;
  background: #9A292F;
  aspect-ratio: 1.6/1;
  border: 6px solid #9A292F;
  color: #fff; }
  .company-desc-img:hover {
    transform: scale(0.85); }
  .company-desc-img .detail {
    text-align: center;
    position: relative;
    padding: 5px; }
    .company-desc-img .detail::after {
      content: '>>';
      position: absolute;
      top: 50%;
      right: 4vw;
      transform: translateY(-50%); }

.inform-txt {
  border: 2px solid gray; }

.image-link-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4vw; }
  .image-link-wrapper a {
    position: relative; }
    .image-link-wrapper a img {
      aspect-ratio: 4/3;
      object-fit: scale-down;
      object-position: top;
      border: 6px solid #9A292F; }
    .image-link-wrapper a p {
      position: absolute;
      bottom: 0;
      right: 0;
      background: #9a292fb8;
      color: #fff;
      width: 100%;
      text-align: center;
      padding: 5px; }
      .image-link-wrapper a p::after {
        position: absolute;
        content: '>>';
        top: 50%;
        transform: translateY(-50%);
        right: 4vw; }

.group-link-ttl {
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid gray; }

.group-link-list {
  padding: 10px 0px;
  color: dimgray; }
  .group-link-list li {
    position: relative;
    padding-left: 20px; }
    .group-link-list li::before {
      content: ">";
      position: absolute;
      left: 0;
      top: 0; }

.other-performance {
  text-align: right;
  margin-top: 20px; }

.footer-nav-space {
  padding: 20px; }

.bg-footer {
  background-color: #9a292f1a; }

.copyright {
  text-align: center;
  padding: 10px;
  background: #9A292F;
  color: #fff;
  font-size: 90%; }

.company-profile-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 4vw; }
  .company-profile-content dt {
    background: #9A292F;
    color: #fff;
    text-align: center;
    padding: 2px 20px; }
  .company-profile-content dd {
    display: flex;
    align-items: center; }

.company-main {
  min-height: 60vh; }

.content-wrapper li {
  position: relative;
  padding-left: 30px; }
  .content-wrapper li::before {
    content: "";
    width: 15px;
    height: 15px;
    background: #9A292F;
    position: absolute;
    left: 0;
    top: 0;
    margin: 5px; }

.image-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4vw;
  text-align: justify; }
  @media screen and (max-width: 768px) {
    .image-text {
      grid-template-columns: 1fr; } }
  .image-text img {
    aspect-ratio: 2/1.3; }

.access-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 4vw;
  margin-bottom: 5vh; }
  .access-content dt {
    background: #9A292F;
    color: #fff;
    text-align: center;
    padding: 2px 20px; }
  .access-content dd {
    display: flex;
    align-items: center; }

.strength-list li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 10px; }
  .strength-list li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: url("../img/checkbox.svg");
    width: 20px; }

.challenge {
  text-align: center;
  padding: 20px 0;
  font-size: 120%;
  color: #9A292F; }

a[target="_blank"] {
  color: #1d3994; }
  a[target="_blank"]:hover {
    text-decoration: underline;
    opacity: 1; }

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2vw;
  margin-bottom: 8vh; }
  @media screen and (max-width: 768px) {
    .product-list {
      gap: 4vw; } }
  .product-list li img {
    width: 100%;
    aspect-ratio: 5/3;
    height: -webkit-fill-available; }
  .product-list li p {
    text-align: justify; }

.schedule-wrapper {
  padding: 10px 4vw;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px; }

.support-list {
  padding: 10px 4vw;
  counter-reset: support; }
  .support-list h2 {
    font-size: 120%;
    padding-left: 20px;
    color: #9A292F; }
  .support-list li {
    margin-bottom: 10px;
    position: relative;
    text-align: justify; }
    .support-list li:before {
      position: absolute;
      left: -20px;
      content: counter(support);
      counter-increment: support;
      font-weight: bold;
      color: #fff;
      font-weight: bold;
      width: 30px;
      height: 30px;
      border-radius: 999px;
      background: #9A292F;
      text-align: center;
      line-height: 30px; }

.overview {
  display: grid;
  grid-template-columns: 150px 150px 1fr;
  gap: 20px; }
  @media screen and (max-width: 768px) {
    .overview {
      grid-template-columns: max-content max-content 1fr; } }
  .overview li {
    position: relative; }
    .overview li::before {
      content: "・";
      position: absolute;
      top: 0;
      left: -15px; }
  .overview .column2 {
    grid-column: 2 / span 2; }

.color-main {
  color: #9A292F;
  margin: 5vh 4vw;
  text-align: center;
  font-size: 120%; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  letter-spacing: 0.05em;
  line-height: 1.6; }

img,
iframe {
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom; }

source {
  width: 100%;
  margin-top: 50px; }

a {
  display: inline-block;
  transition: .5s;
  text-decoration: none;
  color: #333; }
  a:hover {
    opacity: 0.7;
    cursor: pointer; }

section {
  padding-top: 5vh; }

.sp-br {
  display: none; }
  @media screen and (max-width: 480px) {
    .sp-br {
      display: block; } }

.tablet-br {
  display: none; }
  @media screen and (max-width: 768px) {
    .tablet-br {
      display: none; } }

.container, .external-link {
  max-width: 1100px;
  padding: 0 4vw;
  margin: 0 auto; }

.external-link {
  padding: 30px 4vw; }

.title {
  font-size: clamp(18px, calc(18px + 1.5vw), 24px);
  font-weight: bold;
  margin: 50px 0;
  color: #9A292F;
  border-bottom: 3px solid #9A292F; }

.inform-txt {
  height: 300px;
  border: 2px solid gray; }

.mb-8vh {
  margin-bottom: 8vh; }

/*# sourceMappingURL=style.css.map */
