@charset "UTF-8";
@import 'mixins';
@import 'main';

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

img,
iframe{
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}
source{
  width: 100%;
  margin-top: 50px;
}

a {
  display: inline-block;
  transition: .5s;
  text-decoration: none;
  color: #333;
  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

section {
  padding-top: 5vh;
}

.sp-br {
  display: none;
  @include mq(sp) {
    display: block;
  }
}
.tablet-br {
  display: none;
  @include mq(tablet) {
  display: none;
  }
}

.container {
  max-width: 1100px;
  padding: 0 4vw;
  margin: 0 auto;
}
.external-link{
  @extend .container;
  padding: 30px 4vw;
}

// フォント、テキスト系
.title {
  font-size: clamp(18px, calc(18px + 1.5vw), 24px);
  font-weight: bold;
  margin: 50px 0;
  color: $main-color;
  border-bottom: 3px solid $main-color;
}
.inform-txt{
  height: 300px;
  border: 2px solid gray;
}
.mb-8vh{
  margin-bottom: 8vh;
}
