@charset "UTF-8";
.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}

.bottom_border:before {
  content: ' ';
  position: absolute;
  left: 50%;
  bottom: -15%;
  width: 30px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
  border-radius: 1px;
}

.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em;
}

.bottom_border:before {
  content: ' ';
  position: absolute;
  left: 50%;
  bottom: -15%;
  width: 30px;
  height: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #000;
  border-radius: 1px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #9A292F;
}

.header .header-inner {
  padding: 10px 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo-wrapper {
  width: 28%;
  height: 70px;
  background: #ffffffad;
  position: relative;
}

.header .logo-wrapper a img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 10px;
}

.header .contact-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
  font-size: 120%;
}

.header .contact-info .contact-link {
  background-color: #4b6e2d;
  color: #c8e62f;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  -webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  text-shadow: 1px 1px 2px #000;
}

.header .contact-info .contact-link .email-img {
  width: 30px;
  padding-right: 5px;
  vertical-align: sub;
  -webkit-filter: drop-shadow(1px 1px 2px #000);
          filter: drop-shadow(1px 1px 2px #000);
}

@media screen and (max-width: 768px) {
  .header .contact-info .contact-link .email-img {
    padding: 0;
  }
}

.header .contact-info .contact-link .contact-text {
  display: inline-block;
}

@media screen and (max-width: 768px) {
  .header .contact-info .contact-link .contact-text {
    display: none;
  }
}

.header .contact-info .tel-text {
  font-size: 70%;
}

.header .contact-info .tel-wrapper {
  text-align: right;
}

.header .contact-info .tel-wrapper .fixed-tel {
  font-size: clamp(18px, 2vw, 24px);
}

.header .contact-info .tel-wrapper .mobile {
  font-size: clamp(16px, 2vw, 20px);
}

.header .contact-info .tel {
  color: #FFDB4F;
}

.nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2vw;
  position: relative;
}

.nav-list .nav-list-link {
  color: #9A292F;
  font-size: clamp(18px, 2vw, 24px);
}

.nav-list li:not(:last-child) {
  padding-right: 2vw;
  border-right: 1px solid #9A292F;
}

.nav-wrapper {
  padding-top: 111.59px;
}

.nav {
  position: relative;
}

.lang-list {
  position: absolute;
  right: 4vw;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 768px) {
  .lang-list {
    top: 10px;
  }
}

.lang-list li a {
  border: 1px solid #4b6e2d;
  color: #4b6e2d;
  padding: 1px 5px 0;
}

.company-desc-wrapper {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 768px) {
  .company-desc-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 10px;
  }
}

.company-desc-wrapper .company-desc {
  text-align: justify;
  padding: 20px 4vw;
  margin-left: -30px;
  background: #9A292F;
  color: #fac4c7;
}

@media screen and (max-width: 768px) {
  .company-desc-wrapper .company-desc {
    margin-left: 0;
  }
}

.company-desc-img {
  width: 100%;
  background: #9A292F;
  aspect-ratio: 1.6/1;
  border: 6px solid #9A292F;
  color: #fff;
}

.company-desc-img:hover {
  -webkit-transform: scale(0.85);
          transform: scale(0.85);
}

.company-desc-img .detail {
  text-align: center;
  position: relative;
  padding: 5px;
}

.company-desc-img .detail::after {
  content: '>>';
  position: absolute;
  top: 50%;
  right: 4vw;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.inform-txt {
  border: 2px solid gray;
}

.image-link-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4vw;
}

.image-link-wrapper a {
  position: relative;
}

.image-link-wrapper a img {
  aspect-ratio: 4/3;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -o-object-position: top;
     object-position: top;
  border: 6px solid #9A292F;
}

.image-link-wrapper a p {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #9a292fb8;
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 5px;
}

.image-link-wrapper a p::after {
  position: absolute;
  content: '>>';
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 4vw;
}

.group-link-ttl {
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}

.group-link-list {
  padding: 10px 0px;
  color: dimgray;
}

.group-link-list li {
  position: relative;
  padding-left: 20px;
}

.group-link-list li::before {
  content: ">";
  position: absolute;
  left: 0;
  top: 0;
}

.other-performance {
  text-align: right;
  margin-top: 20px;
}

.footer-nav-space {
  padding: 20px;
}

.bg-footer {
  background-color: #9a292f1a;
}

.copyright {
  text-align: center;
  padding: 10px;
  background: #9A292F;
  color: #fff;
  font-size: 90%;
}

.company-profile-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  gap: 10px 4vw;
}

.company-profile-content dt {
  background: #9A292F;
  color: #fff;
  text-align: center;
  padding: 2px 20px;
}

.company-profile-content dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.company-main {
  min-height: 60vh;
}

.content-wrapper li {
  position: relative;
  padding-left: 30px;
}

.content-wrapper li::before {
  content: "";
  width: 15px;
  height: 15px;
  background: #9A292F;
  position: absolute;
  left: 0;
  top: 0;
  margin: 5px;
}

.image-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 4vw;
  text-align: justify;
}

@media screen and (max-width: 768px) {
  .image-text {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.image-text img {
  aspect-ratio: 2/1.3;
}

.access-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  gap: 10px 4vw;
  margin-bottom: 5vh;
}

.access-content dt {
  background: #9A292F;
  color: #fff;
  text-align: center;
  padding: 2px 20px;
}

.access-content dd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.strength-list li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 10px;
}

.strength-list li::before {
  position: absolute;
  left: 0;
  top: 0;
  content: url("../img/checkbox.svg");
  width: 20px;
}

.challenge {
  text-align: center;
  padding: 20px 0;
  font-size: 120%;
  color: #9A292F;
}

a[target="_blank"] {
  color: #1d3994;
}

a[target="_blank"]:hover {
  text-decoration: underline;
  opacity: 1;
}

.product-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(150px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2vw;
  margin-bottom: 8vh;
}

@media screen and (max-width: 768px) {
  .product-list {
    gap: 4vw;
  }
}

.product-list li img {
  width: 100%;
  aspect-ratio: 5/3;
  height: -webkit-fill-available;
}

.product-list li p {
  text-align: justify;
}

.schedule-wrapper {
  padding-left: 4vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: max-content 1fr;
      grid-template-columns: -webkit-max-content 1fr;
      grid-template-columns: max-content 1fr;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  letter-spacing: 0.05em;
  line-height: 1.6;
}

img,
iframe {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
}

source {
  width: 100%;
  margin-top: 50px;
}

a {
  display: inline-block;
  -webkit-transition: initial;
  transition: .5s;
  text-decoration: none;
  color: #333;
}

a:hover {
  opacity: 0.7;
  cursor: pointer;
}

section {
  padding-top: 5vh;
}

.sp-br {
  display: none;
}

@media screen and (max-width: 480px) {
  .sp-br {
    display: block;
  }
}

.tablet-br {
  display: none;
}

@media screen and (max-width: 768px) {
  .tablet-br {
    display: none;
  }
}

.container, .external-link {
  max-width: 1100px;
  padding: 0 4vw;
  margin: 0 auto;
}

.external-link {
  padding: 30px 4vw;
}

.title {
  font-size: clamp(18px, calc(18px + 1.5vw), 24px);
  font-weight: bold;
  margin: 50px 0;
  color: #9A292F;
  border-bottom: 3px solid #9A292F;
}

.inform-txt {
  height: 300px;
  border: 2px solid gray;
}

.mb-8vh {
  margin-bottom: 8vh;
}
/*# sourceMappingURL=style.css.map */
