@charset "UTF-8";
.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em; }
  .bottom_border:before {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -15%;
    width: 30px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 1px; }

.bottom_border {
  text-align: center;
  position: relative;
  margin-bottom: 1em; }
  .bottom_border:before {
    content: ' ';
    position: absolute;
    left: 50%;
    bottom: -15%;
    width: 30px;
    height: 2px;
    transform: translateX(-50%);
    background-color: #000;
    border-radius: 1px; }

.header .header-inner {
  padding: 10px 4vw;
  border-bottom: 1px solid #9A292F;
  display: flex;
  justify-content: space-between;
  align-items: center; }
.header .logo-wrapper {
  width: 28%;
  height: 70px;
  position: relative; }
  .header .logo-wrapper a img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px; }
.header .contact-info {
  display: flex;
  align-items: center;
  gap: 2vw;
  font-size: 120%; }
  .header .contact-info .contact-link {
    background-color: #4b6e2d;
    color: #c8e62f;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
    text-shadow: 1px 1px 2px #000; }
    .header .contact-info .contact-link .email-img {
      width: 30px;
      padding-right: 5px;
      vertical-align: sub;
      filter: drop-shadow(1px 1px 2px #000); }
      @media screen and (max-width: 768px) {
        .header .contact-info .contact-link .email-img {
          padding: 0; } }
    .header .contact-info .contact-link .contact-text {
      display: inline-block; }
      @media screen and (max-width: 768px) {
        .header .contact-info .contact-link .contact-text {
          display: none; } }
  .header .contact-info .tel-text {
    font-size: 70%; }
  .header .contact-info .tel-wrapper {
    text-align: right; }
    .header .contact-info .tel-wrapper .fixed-tel {
      font-size: clamp(18px, 2vw, 24px); }
    .header .contact-info .tel-wrapper .mobile {
      font-size: clamp(16px, 2vw, 20px); }
  .header .contact-info .tel {
    color: #43274f;
    font-weight: bold;
    text-shadow: 0px 0px 1px #893d4163; }

.nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  position: relative; }
  .nav-list .nav-list-link {
    color: #9A292F;
    font-size: clamp(16px, 1vw, 18px); }
  .nav-list li:not(:last-child) {
    padding-right: 1vw;
    border-right: 1px solid #9A292F; }

.lang-list {
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px; }
  @media screen and (max-width: 768px) {
    .lang-list {
      top: 10px; } }
  .lang-list li a {
    border: 1px solid #4b6e2d;
    color: #4b6e2d;
    padding: 1px 5px 0; }

.first-view-img {
  background-image: url("../img/first-view-img.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  position: relative; }
  .first-view-img .first-view-desc {
    position: absolute;
    top: 30%;
    right: 20px;
    left: 45%;
    padding: 20px;
    background: #ffffffa8;
    border-radius: 3px;
    color: #9A292F; }
  .first-view-img .first-view-circle {
    backdrop-filter: blur(3px);
    font-style: italic;
    position: absolute;
    bottom: 2%;
    color: #fff;
    background: #0060ff80;
    right: 30px;
    text-align: center;
    border-radius: 9999px;
    width: 180px;
    height: 180px;
    display: grid;
    place-items: center;
    margin: 0 auto;
    font-size: 130%;
    font-weight: bold;
    border: 5px solid #006bff4a; }
  .first-view-img .first-view-ttl {
    font-weight: bold;
    position: absolute;
    top: 8%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: clamp(24px, 4vw, 46px);
    color: #9A292F;
    text-shadow: 2px 3px 8px #fff;
    z-index: 10; }

.company-desc-wrapper {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr; }
  @media screen and (max-width: 768px) {
    .company-desc-wrapper {
      grid-template-columns: 1fr;
      gap: 10px; } }
  .company-desc-wrapper .company-desc {
    text-align: justify;
    padding: 30px 4vw;
    background: #9A292F;
    color: #f6d3d5;
    align-content: center;
    display: grid;
    line-height: 2.0; }

.company-desc-img {
  width: 100%;
  background: #9A292F;
  aspect-ratio: 1.6/1;
  border: 6px solid #9A292F;
  color: #fff;
  transition: .5; }
  .company-desc-img:hover + .company-desc {
    transform: scale(0.87); }

.company-text-wrapper {
  position: relative;
  background: #9A292F;
  height: 100%; }
  .company-text-wrapper .detail {
    position: absolute;
    right: 4vw;
    bottom: 30px;
    background: #f6d3d5;
    padding: 10px 30px;
    color: #9A292F;
    border-radius: 9999px;
    font-weight: bold; }

.inform-txt {
  border: 2px solid gray; }

.image-link-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4vw; }
  .image-link-wrapper a {
    position: relative; }
    .image-link-wrapper a img {
      aspect-ratio: 4/3;
      object-fit: scale-down;
      object-position: top;
      border: 6px solid #9A292F; }
    .image-link-wrapper a p {
      position: absolute;
      bottom: 0;
      right: 0;
      background: #9a292fb8;
      color: #fff;
      width: 100%;
      text-align: center;
      padding: 5px; }
      .image-link-wrapper a p::after {
        position: absolute;
        content: '>>';
        top: 50%;
        transform: translateY(-50%);
        right: 4vw; }

.group-link-ttl {
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid gray; }

.group-link-list {
  padding: 10px 0px;
  color: dimgray; }
  .group-link-list li {
    position: relative;
    padding-left: 20px;
    line-height: 1.3; }
    .group-link-list li a {
      font-size: 90%; }
    .group-link-list li::before {
      content: ">";
      position: absolute;
      left: 0;
      top: 0; }

.other-performance {
  text-align: right;
  margin-top: 20px; }

.footer-nav-space {
  padding: 20px; }

.bg-footer {
  background-color: #9a292f1a; }

.copyright {
  text-align: center;
  padding: 10px;
  background: #9A292F;
  color: #fff;
  font-size: 90%; }

.company-profile-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 4vw; }
  .company-profile-content dt {
    background: #9A292F;
    color: #fff;
    text-align: center;
    padding: 2px 20px; }
  .company-profile-content dd {
    display: flex;
    align-items: center; }

.company-main {
  min-height: 60vh; }

.content-wrapper li {
  position: relative;
  padding-left: 30px; }
  .content-wrapper li::before {
    content: "";
    width: 15px;
    height: 15px;
    background: #9A292F;
    position: absolute;
    left: 0;
    top: 0;
    margin: 5px; }

.content-support {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  gap: 10px; }
  .content-support li {
    width: 100%;
    height: 100%;
    place-items: center;
    display: grid;
    padding: 10px;
    color: #fff; }
  .content-support li:nth-child(1) {
    background: brown; }
  .content-support li:nth-child(2) {
    background: blue; }
  .content-support li:nth-child(3) {
    background: green; }
  .content-support li:nth-child(4) {
    background: orange; }

.image-text {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4vw;
  text-align: justify; }
  @media screen and (max-width: 768px) {
    .image-text {
      grid-template-columns: 1fr; } }
  .image-text img {
    aspect-ratio: 2/1.3; }

.access-content {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 4vw;
  margin-bottom: 5vh; }
  .access-content dt {
    background: #9A292F;
    color: #fff;
    text-align: center;
    padding: 2px 20px; }
  .access-content dd {
    display: flex;
    align-items: center; }

.strength-list li {
  padding-left: 40px;
  position: relative;
  margin-bottom: 10px; }
  .strength-list li::before {
    position: absolute;
    left: 0;
    top: 0;
    content: url("../img/checkbox.svg");
    width: 20px; }

.challenge {
  text-align: center;
  padding: 20px 0;
  font-size: 120%;
  color: #9A292F; }

a[target="_blank"] {
  color: #1d3994; }
  a[target="_blank"]:hover {
    text-decoration: underline;
    opacity: 1; }

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4vw;
  margin-bottom: 8vh; }
  @media screen and (max-width: 768px) {
    .product-list {
      gap: 4vw; } }
  .product-list li:not(.product-item > li) {
    display: grid;
    grid-template-rows: 300px 50px 140px max-content;
    letter-spacing: 0.02em;
    gap: 8px;
    background: #9a292f0a;
    padding: 20px;
    box-shadow: 0 0 3px 3px #eee;
    border-radius: 3px;
    letter-spacing: .02em; }
    .product-list li:not(.product-item > li) img {
      width: 100%;
      height: -webkit-fill-available; }
    .product-list li:not(.product-item > li) p {
      text-align: justify; }

.product-title {
  color: #9A292F;
  font-weight: bold;
  line-height: 1.4; }
  @media screen and (max-width: 480px) {
    .product-title {
      line-height: 1.3;
      align-self: center; } }

.product-description {
  font-size: 80%;
  color: #9a292fd4;
  line-height: 1.5; }
  @media screen and (max-width: 480px) {
    .product-description {
      align-self: center; } }

.product-item {
  padding-top: 10px; }

.product-total-qty:not(.snack-qty) {
  border-bottom: 1px solid #ccc; }

.snack-qty {
  border: none;
  display: inline; }

.price {
  font-size: 110%;
  font-weight: bold;
  padding-top: 5px;
  align-self: end; }

.product-qty {
  align-self: end;
  line-height: 1.5;
  font-size: 80%; }

.schedule-wrapper {
  padding: 10px 4vw;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px; }

.inline {
  display: inline; }

.support-list {
  padding: 10px 4vw;
  counter-reset: support; }
  .support-list h2 {
    font-size: 120%;
    padding-left: 20px;
    color: #9A292F; }
  .support-list li {
    margin-bottom: 10px;
    position: relative;
    text-align: justify; }
    .support-list li:before {
      position: absolute;
      left: -20px;
      content: counter(support);
      counter-increment: support;
      font-weight: bold;
      color: #fff;
      font-weight: bold;
      width: 30px;
      height: 30px;
      border-radius: 999px;
      background: #9A292F;
      text-align: center;
      line-height: 30px; }

.overview {
  display: grid;
  grid-template-columns: 150px 150px 1fr;
  gap: 20px; }
  @media screen and (max-width: 768px) {
    .overview {
      grid-template-columns: max-content max-content 1fr; } }
  .overview li {
    position: relative; }
    .overview li::before {
      content: "・";
      position: absolute;
      top: 0;
      left: -15px; }
  .overview .column2 {
    grid-column: 2 / span 2; }

.color-main {
  color: #9A292F;
  margin: 5vh 4vw;
  text-align: center;
  font-size: 120%; }

.intro-text-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4vw;
  text-align: justify; }
  @media screen and (max-width: 768px) {
    .intro-text-img {
      grid-template-columns: 1fr; } }
  .intro-text-img img {
    aspect-ratio: 1.618/1; }

.font-bold {
  font-weight: bold; }

.income-num-grid {
  display: grid;
  grid-template-columns: 30px 1fr 100px;
  gap: 2vw;
  row-gap: 1vh;
  text-align: justify;
  padding: 30px 0; }
  .income-num-grid span:nth-child(3n) {
    text-align: right; }

.income-technical-grid {
  display: grid;
  grid-template-columns: 100px 1fr 1fr;
  padding: 30px 0 0 0;
  align-items: center; }
  .income-technical-grid span {
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    height: 50px;
    padding: 3px; }

.border-left {
  border-left: 1px solid #000; }

.income-tech-ttl {
  text-align: center;
  font-weight: bold;
  font-size: 110%;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  padding: 5px; }

.income-tech-ttl-row {
  font-size: 90%;
  align-self: center; }

.technical-img-text {
  display: grid; }

.technical-text {
  text-align: justify; }

.about-indonesia {
  margin-top: 15px; }

.support-text {
  margin: 30px 0; }

.img-perform {
  aspect-ratio: 3/2; }

.img-perform-text {
  font-weight: bold;
  margin-top: 10px;
  font-size: 110%;
  text-align: center; }

.other-business {
  border: 1px solid #9A292F;
  padding: 10px 20px;
  color: #9A292F; }

.text-indent {
  padding-left: 20px; }

.free-consul {
  background-color: #4b6e2d;
  color: #c8e62f;
  border-radius: 5px;
  padding: 10px;
  font-weight: bold;
  text-shadow: 1px 1px 2px #000;
  font-size: 110%;
  width: min(90%, 360px);
  margin: 0 auto 30px; }

.footer-link {
  display: grid;
  grid-template-columns: 1fr max-content;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto; }

.recruit-attention {
  font-weight: bold;
  margin-top: 30px; }

.recruit-attention-list {
  display: grid;
  grid-template-columns: 30px 1fr;
  margin-bottom: 30px; }
  .recruit-attention-list li {
    display: contents; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

body {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  letter-spacing: 0.05em;
  line-height: 1.6; }

img,
iframe {
  max-width: 100%;
  object-fit: cover;
  vertical-align: bottom; }

source {
  width: 100%;
  margin-top: 50px; }

a {
  display: inline-block;
  text-decoration: none;
  color: #333; }
  a:hover {
    opacity: 0.7;
    cursor: pointer; }

section {
  padding-top: 5vh; }

.sp-br {
  display: none; }
  @media screen and (max-width: 480px) {
    .sp-br {
      display: block; } }

.tablet-br {
  display: none; }
  @media screen and (max-width: 768px) {
    .tablet-br {
      display: none; } }

.container, .external-link {
  max-width: 1100px;
  padding: 0 4vw;
  margin: 0 auto; }

.external-link {
  padding: 30px 4vw; }

.title {
  font-size: clamp(18px, calc(18px + 1.5vw), 24px);
  font-weight: bold;
  margin: 50px 0 20px;
  color: #9A292F;
  border-bottom: 3px solid #9A292F; }

.inform-txt {
  height: 300px;
  border: 2px solid gray; }

.mb-8vh {
  margin-bottom: 8vh; }

/*# sourceMappingURL=style.css.map */
