@import 'mixins';
@import 'valiables';

.header {
 border-bottom: 1px solid $main-color;
 box-shadow: 1px 1px 2px #8080809e;
  .header-inner{
  @include header-inner;
  }

  .logo-wrapper{
    width: 28%;
    height: 70px;
    position: relative;
    a{
      img{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        padding: 10px;
      }
    }
  }

  .contact-info{
    display: flex;
    align-items: center;
    gap: 2vw;
    font-size: 120%;
    .contact-link{
      background-color: $green-dark-color;
      color: $green-light-color;
      border-radius: 5px;
      padding: 10px;
      font-weight: bold;
      box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25) ;
      text-shadow: 1px 1px 2px #000;
      .email-img{
        width: 30px;
        padding-right: 5px;
        vertical-align: sub;
        filter: drop-shadow(1px 1px 2px #000);
        @include mq(tablet) {
        padding: 0;
        }
      }
      .contact-text{
        display: inline-block;
        @include mq(tablet) {
        display: none;
        }
      }
    }
    .tel-text{
      font-size: 70%;
    }
    .tel-wrapper{
      text-align: right;
      .fixed-tel{
         font-size: clamp(18px, 2vw, 24px);
      }
      .mobile{
        font-size: clamp(16px, 2vw, 20px)
      }
    }
    .tel{
      color: #43274f;
      font-weight: bold;
      text-shadow: 0px 0px 1px #893d4163;
    }
  }
}

.nav-list{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
  position: relative;
  .nav-list-link{
  color: $main-color;
  font-size: clamp(16px, 2vw, 18px);
  }
  li:not(:last-child){
    padding-right: 1vw;
    border-right: 1px solid $main-color;
  }
}
.nav{
 position: relative
}
.lang-list{
  position: absolute;
  right: 4vw;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  gap: 10px;
  @include mq(tablet) {
    top: 10px;
  }
  li{
    a{
    border: 1px solid $green-dark-color;
    color: $green-dark-color;
    padding: 1px 5px 0;
    }
  }
}

.first-view-img{
  background-image: url("../img/first-viiew.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 500px;
  position: relative;
  .first-view-desc{
    position: absolute;
    top: 30%;
    right: 20px;
    left: 20px;
    padding: 20px;
    background: #ffffffa8;
    border-radius: 3px;
  }
  .first-view-circle{
    position: absolute;
    bottom: 2%;
    color: #fff;
    background: #0060ff80;
    right: 30px;
    text-align: center;
    border-radius: 9999px;
    width: 180px;
    height: 180px;
    display: grid;
    place-items: center;
    margin: 0 auto;
    font-size: 130%;
    font-weight: bold;
    border: 5px solid #006bff4a;
  }

  .first-view-ttl{
    position: absolute;
    top: 10%;
    left:0;
    width: 100%;
    text-align: center;
    font-size: clamp(50px, 2vw, 80px);
    color: $main-color;
    text-shadow: 2px 2px 3px #3d0707ba;
    z-index: 10;
    @include mq(tablet) {
    font-size: clamp(40px, 2vw, 50px);
    }
  }
}

.company-desc-wrapper{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  @include mq(tablet) {
    grid-template-columns: 1fr;
    gap: 10px;
  }
  .company-desc{
    text-align: justify;
    padding: 20px 4vw;
    margin-left: -30px;
    background: #9A292F;
    color: #fac4c7;
    @include mq(tablet) {
     margin-left: 0;
    }
  }
}

.company-desc-img{
  width: 100%;
  background: $main-color;
  aspect-ratio: 1.6/1;
  border: 6px solid #9A292F;
  color: #fff;

 &:hover{
   transform: scale(0.85);
 }
  .detail{
    text-align: center;
    position: relative;
    padding: 5px;
    &::after{
      content: '>>';
      position: absolute;
      top: 50%;
      right: 4vw;
      transform: translateY(-50%);
    }
  }
}

.inform-txt{
  border: 2px solid gray;
}
.image-link-wrapper{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 4vw;
  a{
    position: relative;
    img{
      aspect-ratio: 4/3;
      object-fit: scale-down;
      object-position: top;
      border: 6px solid #9A292F;
    }
    p{
      position: absolute;
      bottom: 0;
      right: 0;
      background: #9a292fb8;
      color: #fff;
      width: 100%;
      text-align: center;
      padding: 5px;

      &::after{
        position: absolute;
        content: '>>';
        top: 50%;
        transform: translateY(-50%);
        right: 4vw;
      }
    }
  }
}
.group-link-ttl{
  font-weight: bold;
  padding: 10px 0;
  border-bottom: 1px solid gray;
}
.group-link-list{
  padding: 10px 0px;
  color: dimgray;
  li{
  position: relative;
  padding-left: 20px;
  &::before{
    content:">";
    position: absolute;
    left: 0;
    top: 0;
    }
  }
}
.other-performance{
  text-align: right;
  margin-top: 20px;
}
.footer-nav-space{
  padding: 20px;
}
.bg-footer {
  background-color: $accent-color;
}
.copyright {
  text-align: center;
  padding: 10px;
  background: $main-color;
  color: #fff;
  font-size: 90%;
}

.company-profile-content{
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 4vw;
  dt{
    background: $main-color;
    color: #fff;
    text-align: center;
    padding: 2px 20px;
  }
  dd{
    display: flex;
    align-items: center;
  }
}
.company-main{
  min-height: 60vh;
}
.content-wrapper{
  li{
    position: relative;
    padding-left: 30px;
    &::before{
      content:"";
      width: 15px;
      height: 15px;
      background: $main-color;
      position: absolute;
      left: 0;
      top: 0;
      margin:5px;
    }
  }
}
.image-text{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4vw;
  text-align: justify;
  @include mq(tablet) {
     grid-template-columns: 1fr;
  }
  img{
    aspect-ratio: 2/1.3;
  }
}
.access-content{
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 10px 4vw;
  margin-bottom: 5vh;
  dt{
    background: $main-color;
    color: #fff;
    text-align: center;
    padding: 2px 20px;
  }
  dd{
    display: flex;
    align-items: center;
  }
}
.strength-list{
  li{
    padding-left: 40px;
    position: relative;
    margin-bottom: 10px;
    &::before{
      position: absolute;
      left: 0;
      top:0;
      content: url("../img/checkbox.svg");
      width: 20px
    }
  }
}
.challenge{
  text-align: center;
  padding: 20px 0;
  font-size: 120%;
  color: $main-color;
}
a[target="_blank"]{
  color: $link;
  &:hover{
   text-decoration: underline;
   opacity:1;
  }
}

.product-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 2vw;
  margin-bottom: 8vh;
  @include mq(tablet) {
    gap: 4vw;
  }
    li{
      img{
        width: 100%;
        aspect-ratio: 5/3;
        height: -webkit-fill-available;
      }
      p{
        text-align: justify;
       }
    }
  }

.schedule-wrapper{
  padding: 10px 4vw;
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px;
}

.support-list{
  padding: 10px 4vw;
  counter-reset:support;
  h2{
    font-size: 120%;
    padding-left: 20px;
    color: $main-color;
  }
  li{
    margin-bottom: 10px;
    position: relative;
    text-align: justify;
    &:before{
      position: absolute;
      left:-20px;
      content: counter(support);
      counter-increment: support;
      font-weight: bold;
      color: #fff;
      font-weight: bold;
      width: 30px;
      height: 30px;
      border-radius: 999px;
      background: $main-color;
      text-align: center;
      line-height: 30px;
    }
  }
}
.overview{
  display: grid;
  grid-template-columns: 150px 150px 1fr;
  gap: 20px;
  @include mq(tablet) {
    grid-template-columns: max-content max-content 1fr;
  }
  li{
    position: relative;
  &::before{
    content: "・";
    position: absolute;
    top: 0;
    left:-15px;
}
}
.column2{
  grid-column: 2 / span 2;
}
}

.color-main{
  color: $main-color;
  margin: 5vh 4vw;
  text-align: center;
  font-size: 120%;
}
